.service-section-header {
  margin-top: 1.1rem;
}

.service-btn-container {
  margin-top: 4.5rem;
}

.service-btn {
  font-size: 1.1rem;
  font-weight: 600;
  padding: 1.5rem 3.8rem;
  border: none;
  border-radius: 0;
  background-color: var(--color-white);
  color: #343a40;
  cursor: pointer;
}

.service-btn:hover {
  background-color: var(--color-primary-tint1);
}
.smartroom-wrapper {
  display: flex;
}
.smartroom-find-link {
  list-style: none;
  border-bottom: 2px solid var(--color-primary);
  margin-top: 3rem;
  font-family: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  width: 93px;
  transition: border-bottom 1s ease;
}

.smartroom-find-link:hover {
  border-bottom: 2px solid transparent;
}
.smart-room-img {
  width: 45%;
}
