* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --color-primary: #745bb3;
  --color-secondary: #3a3a40;
  --color-black: #000;
  --color-white: #fff;
  --color-primary-tint1: #e4daff;
  --color-primary-tint2: #dbcdff;
  --color-primary-tint3: #f6f3ff;
  --color-primary-shade: #a682ff;
  --color-primary-shade2: #644e99;
  --color-gray: #717579;
  --color-box-shadow: rgba(0, 0, 0, 0.25);
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f6f3ff;
  padding: 1.6rem 2.5rem;
  height: 5rem;
}

.munaltech-logo {
  width: 85%;
  height: 3.1rem;
}

.head-nav {
  display: flex;
  margin-left: 200px;
  align-items: center;
  gap: 2rem;
}

.head-nav-list {
  display: flex;
  list-style: none;
  gap: 4.8rem;
}

.head-nav-link {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: #343a34;
}

.head-nav-link:hover {
  color: var(--color-primary);
}

.hero-wrapper {
  display: flex;
  justify-content: center;
  background-color: #f6f3ff;
  padding: 4rem 6rem;
  gap: 2rem;
}

.hero-btn-wrapper,
.feature-list,
.how-step-wrapper,
.pricing-info-wrapper,
.testimonial-info-wrapper {
  display: flex;
  gap: 1.6rem;
}

.btn-pricing:hover,
.btn-smart:hover,
.link-learn:hover,
.pricing-btn:hover,
.testimonial-btn:hover {
  background-color: var(--color-primary-shade2);
  transition: 0.35s;
}

.hero-header,
.feature-heading,
.pricing-head,
.testimonial-para {
  font-size: 3.2rem;
  font-weight: 800;
}

.hero-para,
.feature-para,
.pricing-para,
.testimonial-para-name {
  font-size: 1.3rem;
  line-height: 1.6;
}

.pricing-section-wrapper,
.service-section-wrapper {
  margin-top: 3.2rem;
}

.pricing-btn {
  padding: 16px 30px;
  background-color: var(--color-primary-tint1);
}
.btn {
  padding: 10px 16px;
  border-radius: 8px;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: 19px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
